
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>مالپه‌ری تایبه‌تی مامه</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="offcanvas.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'home' %}">مامم پیتیر</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'home' %}">ماله‌وه <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">توییتر</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              کوردی
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

              <a class="dropdown-item" href="{% url 'home' %}">ئینگلیزی</a>
              <a class="dropdown-item" href="#">فارسی</a>
              <a class="dropdown-item" href="#">ئه‌لمانی</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    </div>
    <br>

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9">

          <div class="jumbotron">
            <div class="row">
              <div class="col-8 col-lg-9">
            <h2>به خیرهاتن به ولاتی بی‌سنور</h2><br>
            <p style="font-size:20px" >ده‌مانه‌هوی له گه‌ل یه‌ک دونیایه‌یکی بی سنور دامه‌زرینین به‌لام هه‌وه‌ل جار ده‌بی بیرو‌هزرمان بی‌سنور به‌ره‌و گه‌شه‌کردن ببه‌به‌ینُ</p>

            <p><a href="#" class="btn btn-primary my-2">په‌یوه‌ندیم‌ له‌گه‌ل بگره</a></p>
          </div>



          <div class="col-12 col-lg-3">
            <img src="https://image.ibb.co/m8k0p8/photo_2018_05_29_19_22_04.jpg" width=180px height=200px>


          </div>
          </div>


          </div>
          {% for blog in blog.all%}
          <div class="container">


          <div class="row">
            <div class="col-6 col-lg-12">
              <h2>{{blog.title}}</h2>

              {{blog.pub_date}}





              </div><!--/span-->
              </div><!--/row-->
              <div class="row">
              <div class="col-6 col-lg-8">
                <p>{{blog.body}}</p>


              </div>
              <div class="col-6 col-lg-4">
                <img src="{{blog.image.url}}" alt="" height=200 width=350>
              </div>


              </div>



              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>




          {% endfor %}

        </div><!--/span-->

        <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item active">Links</a>
            <a href="#" class="list-group-item">Mr Shabanali</a>
            <a href="#" class="list-group-item">Milad Nasri</a>
            <a href="#" class="list-group-item">Foad Ansari</a>
            <a href="#" class="list-group-item">Fardin Hosseini</a>
            <a href="#" class="list-group-item">Brain Pickings</a>
            <a href="#" class="list-group-item">Seth Godin</a>

          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Mam Peter</p>
      </footer>

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

  </body>
</html>
